<!--layout-margin layout-padding-->
<md-content class="control-main" layout-margin layout-padding>
	<section layout="row" layout-align="center center">
		<!--<md-button class="md-raised md-warn">Power</md-button>-->
		<md-switch ng-model="ControlState.Power" aria-label="Power" class="md-warn">
			Power
		</md-switch>
	</section>
	<section layout="row" layout-align="center center">
		<div class="label">Ranges</div>
		
		<div layout="column" layout-align="space-around center">
			<md-button class="md-raised" ng-click="PushButton('FanUp')" ng-disabled="!ControlState.Power">{{Buttons['FanUp'].Label}}</md-button>
			<md-button class="md-raised" ng-click="PushButton('FanDown')" ng-disabled="!ControlState.Power">{{Buttons['FanDown'].Label}}</md-button>
		</div>
		
		<div layout="column" layout-align="space-around center">
			<md-button class="md-raised" ng-click="PushButton('TempTimerUp')" ng-disabled="!ControlState.Power">{{Buttons['TempTimerUp'].Label}}</md-button>
			<md-button class="md-raised" ng-click="PushButton('TempTimerDown')" ng-disabled="!ControlState.Power">{{Buttons['TempTimerDown'].Label}}</md-button>
		</div>
	</section>
	
	<!-- TODO turn these into buttons? -->
	<section layout="row" layout-align="center center">
		<div class="label">Mode</div>
		
		<md-radio-group ng-model="ControlState.Mode">
			<md-radio-button ng-value="'Cool'" ng-disabled="!ControlState.Power">
				{{Buttons['Cool'].Label}}
			</md-radio-button>
			<md-radio-button ng-value="'EnergySaver'" ng-disabled="!ControlState.Power">
				{{Buttons['EnergySaver'].Label}}
			</md-radio-button>
			<md-radio-button ng-value="'Fan'" ng-disabled="!ControlState.Power">
				{{Buttons['FanOnly'].Label}}
			</md-radio-button>
		</md-radio-group>
	</section>
</md-content>
