<!--layout-margin layout-padding-->
<md-content class="control-main" layout-margin layout-padding>
	<section layout="row" layout-align="center center">
		<!--<md-button class="md-raised md-warn">Power</md-button>-->
		<md-switch ng-model="ControlState.Power" aria-label="Power" class="md-warn">
			Power
		</md-switch>
	</section>
	<section layout="row" layout-align="center center">
		<div class="label">Fan/Temperature</div>

		<div layout="column" layout-align="space-around center">
			<div layout="row" layout-align="space-around center">
				<div layout="column" layout-align="space-around center">
					<md-button class="md-raised" ng-click="PushButton('FanUp')" ng-disabled="!ControlState.Power">{{Buttons['FanUp'].Label}}</md-button>
					<md-button class="md-raised" ng-click="PushButton('FanDown')" ng-disabled="!ControlState.Power">{{Buttons['FanDown'].Label}}</md-button>
				</div>

				<div layout="column" layout-align="space-around center">
					<md-button class="md-raised" ng-click="PushButton('TempTimerUp')" ng-disabled="!ControlState.Power">{{Buttons['TempTimerUp'].Label}}</md-button>
					<md-button class="md-raised md-warn" ng-click="PushButton('TempTimerDown')" ng-disabled="!ControlState.Power">{{Buttons['TempTimerDown'].Label}}</md-button>
				</div>
			</div>
			<div layout="row" layout-align="space-around center">
				<md-button class="md-raised md-primary" ng-click="PushButton('AutoFan')" ng-disabled="!ControlState.Power">{{Buttons['AutoFan'].Label}}</md-button>
			</div>
		</div>
	</section>
	
	<!-- TODO turn these into buttons? -->
	<section layout="row" layout-align="center center">
		<div class="label">Mode</div>

		<div layout="column" layout-align="space-around center">
			<md-button class="md-raised md-warn" ng-disabled="!ControlState.Power" ng-click="PushButton('Cool')">{{Buttons['Cool'].Label}}</md-button>
			<md-button class="md-raised md-primary" ng-disabled="!ControlState.Power" ng-click="PushButton('EnergySaver')">{{Buttons['EnergySaver'].Label}}</md-button>
			<md-button class="md-raised" ng-disabled="!ControlState.Power" ng-click="PushButton('FanOnly')">{{Buttons['FanOnly'].Label}}</md-button>
		</div>
	</section>
</md-content>
